---
layout: default
permalink: /
---

<div class="section">

  <div class="row">
    <div class="col s12 center">
      <h3>TJ Webb</h3>
      <h5>Web Developer</h5>
    </div>

  <div class="col s12">
    <p>
        {{ site.description }}
    </p>
  </div>

    <div class="col s12">
        <p>
            My focus of the last
            couple of years has shifted from churning out quality production for client work
            to churning out tools that help myself and my teammates roll out quality
            production for client work much faster. I've also had a focus on larger web
            application style development as of late as opposed to traditional,
            structured-content type sites.
        </p>
        <p>
            This will be a place to keep up with all of my latest projects and blog posts.
            My hope is that you'll learn something here or find a new tool to improve your
            own workflow. All of my projects are open source and hosted on
            <a href="https://github.com/webbtj/">GitHub</a>. I'm most active there and on Twitter
            <a href="https://twitter.com/webbtj/">@webbtj</a>.
        </p>
        <p>
            If by some strange happenstance you happen to be looking for a musician from
            Nova Scotia you're actually not too far off. I'm a developer & programmer by day
            and indie musician by night/weekend. If you were looking for my music and Google
            tossed you here, you'd probably be better off at <a href="http://webb.tj/">webb.tj</a>.
        </p>
    </div>

    <!-- <div class="col s12">
      {% assign projects = site.projects | sort: 'date' | reverse %}
      {% for project in projects limit:1 %}
        <div class="col s6">
          <div class="list-item">
            <h4>Latest Project</h4>
            <h3>
              <a class="post-link" href="{{ project.url | prepend: site.baseurl }}">
                {{ project.title }}
              </a>
            </h3>

            <h6 class="light post-meta">
              Updated
              <time datetime="{{ project.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ project.date | date: "%b %-d, %Y" }}
              </time>
              {% if project.github %}
                  •
                  <a target="_blank" href="{{ project.github }}">view on github</a>
              {% endif %}
            </h6>
            <p class="light">
              {{ project.preview }}
              <a href="{{ project.url | prepend: site.baseurl }}">Read On</a>
            </p>
          </div>
        </div>
      {% endfor %}

      {% for post in site.posts limit:1 %}
        <div class="col s6">
          <div class="list-item">
            <h4>Latest Post</h4>
            <h3>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                {{ post.title }}
              </a>
            </h3>

            <h6 class="light post-meta">
              Published
              <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
                {{ post.date | date: "%b %-d, %Y" }}
              </time>
            </h6>
            <p class="light">
              {{ post.preview }}
              <a href="{{ post.url | prepend: site.baseurl }}">Read On</a>
            </p>
          </div>
        </div>
      {% endfor %}
    </div> -->
  </div>
</div>
